<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
	<title>Thông tin tài khoản</title>
	</head>

	
	<body>
		
		<!----start-Header---->
		<div th:include="client/include/homeHeader"></div>
		<!----End-Header---->

		<div th:include="client/include/accountContent"></div>
		   
		<!----start-Footder---->
		<div th:include="client/include/homeFooter"></div>
	<!----End-Footder---->
	</body>
</html>

