<div class="container-fluid">
    <div class="col-md-3">
        <div id="sidebar">
            <div class="container-fluid tmargin">
                <div class="input-group">
                    <!--
                    <input type="text" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    -->
                </div>
            </div>
            <ul class="nav navbar-nav side-bar">
                <li class="side-bar tmargin">
                    <a href="/shipper/don-hang">
                        <span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>Quản lý đơn hàng</a>
                </li>
                <li class="side-bar">
                    <a href="/shipper/profile">
                        <span class="glyphicon glyphicon-user">&nbsp;</span>Thông tin cá nhân</a>
                </li>
            </ul>
        </div>
    </div>
<script src="/js/admin.js"></script>
